@media print {
  .navbar,
  .footer,
  .sidebar {
    display: none !important;
  }
  .main-parent {
    padding: 0 !important;
    left: 0 !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
  }
  main {
    padding: 0 !important;
  }
  .blog-post-content {
    max-width: 100% !important;
  }
  blockquote {
    border: none !important;
  }
}
